In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
s = pd.Series([1,3,6,np.nan,44,1])

In [4]:
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [5]:
dates = pd.date_range('20160101',periods=6)

In [6]:
print(dates)

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])

In [8]:
print(df)

                   a         b         c         d
2016-01-01  0.151222  1.534614 -0.152547 -0.220340
2016-01-02 -0.658155 -0.561023 -0.363543  1.299223
2016-01-03  0.799524  0.662438 -0.602486  0.635623
2016-01-04  0.892760 -1.112293 -0.055053 -0.547353
2016-01-05 -1.743232 -0.484755  0.231671  0.822017
2016-01-06  0.074733 -0.248761  0.217754 -0.936027

In [9]:
print(df['b'])

2016-01-01    1.534614
2016-01-02   -0.561023
2016-01-03    0.662438
2016-01-04   -1.112293
2016-01-05   -0.484755
2016-01-06   -0.248761
Freq: D, Name: b, dtype: float64

In [10]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)))

In [11]:
print(df1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo'})

In [13]:
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
print(df2.dtypes)

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
print(df2.index)

Int64Index([0, 1, 2, 3], dtype='int64')

In [16]:
print(df2.columns)

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [17]:
print(df2.values)

[[1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']]

In [18]:
df2.describe()  # 计算汇总统计

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [19]:
print(df2.sort_index(axis=1, ascending=False))  #对列进行倒序排列

     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

In [20]:
print(df2.sort_index(axis=0, ascending=False))  #对行进行倒序排列

     A          B    C  D      E    F
3  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
0  1.0 2013-01-02  1.0  3   test  foo

In [23]:
print(df2.sort_values(by='E'))  # 对值进行排序

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
3  1.0 2013-01-02  1.0  3  train  foo